.intro {
  background-color: $blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0 0 0;
  color: $white;

  h1 {
    font-size: 1.3em;
    letter-spacing: 0.05em;
    font-weight: $light;
  }

  h2 {
    font-size: 3.5em;
    letter-spacing: 0.05em;
    font-weight: $regular;
    margin: 0 0 30px 0;
    text-align: center;
  }

  .form_search {
    display: flex;
    @include phone-up {
      flex-direction: column;
    }
    @include phone-down {
      flex-direction: column;
    }
  }

  // extend location_bar & search_bar
  .container_bar {
    position: relative;
    color: $dark-grey;
    border-radius: 25px;
    border: 5px solid $light-blue;
    margin-left: 10px;
  }

  .location_bar_container {
    @extend .container_bar;
    display: flex;
    width: 500px;
    @include tablet {
      width: 350px;
    }
    @include phone-up {
      margin-top: 10px;
      width: 450px;
    }
    @include phone-down {
      width: 300px;
      margin-top: 10px;
    }

    &:before {
      content:"\e062";
      font-family: Glyphicons Halflings;
      width: 24px;
      height: 24px;
      font-size: 1.6em;
      position: absolute;
      left: 10px;
      bottom: 10px;
      color: $red;
      padding-left: 5px;
    }

    #autocomplete {
      display: block;
      width: 100%;
      padding: 10px 10px 10px 50px;
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
      outline: 0;
      border-right: 5px solid $light-blue;
      &::placeholder {
        color: $warm-grey
      }
    }
  }

  .search_bar_container {
    @extend .container_bar;
    width: 400px;
    @include tablet{
      width: 300px;
    }
    @include phone-up {
      width: 450px;
    }
    @include phone-down {
      width: 300px;
    }

    &:before {
      content: "\e003";
      font-family: Glyphicons Halflings;
      width: 22px;
      height: 22px;
      font-size: 1.4em;
      position: absolute;
      left: 10px;
      bottom: 10px;
      color: $red;
      padding-left: 5px;
    }

    #search_bar {
      display: block;
      width: 100%;
      padding: 10px 10px 10px 50px;
      border-radius: 25px;
      outline: 0;
      &::placeholder {
        color: $warm-grey
      }
    }
  }

  #submit-search {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: $red;
    color: $white;
    padding: 0 15px 0 15px;
    @include phone-down {
      width: 80px;
      font-size: 0.9em;
      padding: 0 10px 0 10px;
    }
  }

  img#handshake {
    object-fit: contain;
    width: 800px;
    @include tablet {
      width: 600px;
    }
    @include phone-up {
      width: 450px;
    }
    @include phone-down {
      width: 300px;
    }
  }
}

.middle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  img#computer {
    object-fit: contain;
    width: 550px;
    @include tablet {
      width: 400px;
    }
    @include phone-up {
      width: 200px;
    }
    @include phone-down {
      display: none;
    }
  }

  .middle_text {
    color: $dark-grey;
    width: 300px;
    margin: 0 100px 0 30px;
    @include tablet {
      width: 250px;
      margin: 0 50px 0 30px;
    }
    @include phone-up {
      width: 300px;
      margin: 20px 5px 20px 30px;
    }
    @include phone-down {
      margin: 20px;
    }

    h3 {
      font-size: 2.2em;
      font-weight: $light;
      margin-bottom: 15px;
    }

    p {
      color: $warm-grey;
      margin:0;

      &:nth-child(n+2) {
        line-height: 200%;
        font-weight: 100;
      }
    }
  }
}

.bottom {
  background-color: $blue;
  padding: 30px 0 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    font-size: 2.2em;
    font-weight: 100;
    margin-bottom: 15px;
    color: $white;
  }

  .features_card_group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    width: 1100px;
    @include tablet {
      width: 700px;
    }
    @include phone-up {
      width: 580px;
    }
    @include phone-down {
      width: 300px;
    }

    .features_card {
      color: $warm-grey;
      width: 230px;
      height: 240px;
      background-color: $white;
      border-radius: 10px;
      padding: 20px;
      margin: 25px;
      text-align: center;
      @include phone-up {
        margin: 10px;
      }

      p:first-of-type {
        color: $grey;
      }
    }

    img {
      border-bottom: 1px solid $warm-grey-10pc;
      margin-bottom: 15px;
      width: 40%;
    }
  }

}
