header {
  width: 100%;
  height: 70px;
  padding: 0 0px 0 40px;
  background-color: $blue;

  nav {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    a {
      margin-right: 50px;
      color: $white;
      font-size: 0.95em;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    #signup {
      border: 5px solid $white-50pc;
      border-radius: 25px;
      padding: 5px 15px 5px 15px;
    }
  }
}
